.service_box {
  margin: 0 17px;
  margin-bottom: 50px;
  display: inline-block;
  width: 333px;
  min-height: 340px;
  height: auto;
  padding: 26px;
  text-align: center;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px #5261841f;
  z-index: 0;
  transition: 0.4s;
}
.service_box .inner_box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 340px;
  height: auto;
  padding: 26px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px #5261841f;
  z-index: 1000;
  transition: 0.4s;
  overflow: hidden;
}
.service_box .semicircle {
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  top: -105px;
}
.service_box img {
  margin-bottom: 10px;
}
.service_box p {
  overflow: hidden;
  transition: 0.4s;
  margin: 24px 0;
  font-size: 14px;
  max-height: 80px;
}
.service_box p.height {
  max-height: 400px;
}
.service_box:hover p {
  max-height: 400px;
}
.lock_view {
  position: absolute;
  bottom: 22px;
  right: 22px;
  opacity: 0;
  transition: 0.4s;
}
.service_box:hover .lock_view {
  opacity: 1;
}
.service_box .semicircle g {
  transition: 0.4s;
}
.service_box.hovered,
.service_box.hovered .inner_box {
  background-color: #f4f5fb;
}
.service_box.hovered .semicircle g {
  stroke: #fff !important;
}

@media screen and (max-width: 1100px) {
  .lock_view {
    opacity: 1;
  }
}
@media screen and (max-width: 400px) {
  .service_box {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
}
